@page
@model Notes_App.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.Titel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.Titel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.Erstellungsdatum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.Erstellungsdatum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.Abschlussdatum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.Abschlussdatum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.Text)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Note.ID">Bearbeiten</a> |
    <a asp-page="./Index">Zurück zur Übersicht</a>
</div>
