@page
@model Notes_App.Pages.IndexModel


@{
    ViewData["Title"] = "Übersicht";
}

<h1>Übersicht</h1>
<p>
    <a asp-page="Create">Neue Notiz</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Notelist[0].Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notelist[0].Erstellungsdatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notelist[0].Abschlussdatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notelist[0].Text)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Notelist)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Erstellungsdatum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abschlussdatum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Bearbeiten</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Löschen</a>
                </td>
            </tr>
        }
    </tbody>
</table>
